<link rel="stylesheet" type="text/css" href="/css/aside.css"/>
<div class="aside1">
	<div class="aside-massage">
		<span>本吧信息</span>
		<a class="look">查看详情>></a>
		<div class="look1">
			<img src="/img/timg.gif" />
			<div>name</div>
		</div>
		<div class="look2">
			<img src="/img/timg.gif" />
			<div>name</div>
		</div>
		<div class="look3">
			<img src="/img/timg.gif" />
			<div>name</div>
		</div>
		<p class="look4">小吧：小吧主共<span>??</span>人</p>
		<p class="look5">会员：<span>电影人</span></p>
		<p class="look5">目录：<span>电影话题</span></p>
		<p class="look5">| <span>申请小吧主</span></p>
	</div>
	<img class="aside1-img" src="/img/1172404.png" />
	<img class="aside1-img" src="/img/1172545.png" />
	<img class="aside1-img" src="/img/1172626.png" />
	<img class="aside1-img" src="/img/172708.png" />
	<img class="aside1-img" src="/img/72816.png" />
	<img class="aside1-img lastimg" src="/img/70502.png" />
</div>