<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>comment</title>
		<link rel="stylesheet" type="text/css" href=" /layui/css/layui.css" />
		<script src=" /layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="//unpkg.com/wangeditor/release/wangEditor.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/comment.js"text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href=" /css/head.css" />
		<script src=" /js/head.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<ul class="layui-nav" lay-filter="" id="layui-nav">
			<div class="layui-nav1">
				<img src=" /img/24442-20180827110935292-1162717395.jpg" width="248px" height="60px" />
				<li class="layui-nav-item layui-this">
					<a href="">看吧</a>
				</li>
				<li class="layui-nav-item">
					<a href="">图片</a>
				</li>
				<li class="layui-nav-item">
					<a href="">精品</a>
				</li>
				<li class="layui-nav-item">
					<a href="">视频</a>
				</li>
				<li class="layui-nav-item">
					<a href="">群主</a>
				</li>
				<% if(!uname){%>
				<li class="layui-nav-item layui-col-md-offset2">
					<a href="/login">登录</a>
				</li>
				<li class="layui-nav-item">
					<a href="/register">注册</a>
				</li>
				<%}%>
				<% if(uname){%>
					<li class="layui-nav-item layui-col-md-offset2">
						<a href='/userCenter'><%=uname%></a>
					</li>
					<li class="layui-nav-item">
						<a href='/tuichu'>退出</a>
					</li>
				<%}%>
			</div>
		</ul>
		<div id="main1">
			<div id="search1">
				<form id="layui-form-pane" class="layui-form layui-form-pane">
					<div class="layui-form-item">
						<label class="layui-form-label">小家电影吧</label>
						<div class="layui-input-block">
							<input id="layui-input" type="text" name="search" placeholder="请输入关键词 " autocomplete="off" class="layui-input">
							<button class="layui-btn" lay-filter="formDemo">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div class="layui-row layui-row1">
				<img src=" /img/123.gif " width="980px" height="180px" />
				<div class="imgdiv1" id="imgdiv1">
					<img id="img1" src=" /img/timg.gif" width="160px" height="160px" />
					<div class="littlehome">
						<a href="">小家电影吧</a>
					</div>
					<div class="guanzhu">
						<button class="layui-btn">+关注</button>
					</div>
					<div class="guanzhu-num">
						关注:<span>111</span>
					</div>
					<div class="card">
						帖子:<span>222</span>
					</div>
					<div class="signin">
						<button class="layui-btn layui-btn-lg">签到</button>
						<div>
							<p>9月20日</p>
							<p>签到<span>10</span>天</p>
						</div>
					</div>
					<div class="home-graph">
						小家电影吧，身边的影迷发烧友聚集地！
					</div>
				</div>
			</div>
		</div>

		<link rel="stylesheet" type="text/css" href=" /css/comment.css" />
		<div class="content1">
			<!--评论显示区域-->
			<div class="cardlist">
				<div class="card-author">
					<p><%=tie[0].title%></p>
					<button class="layui-btn layui-btn-sm card-author-button1">只看楼主</button>
					<button class="layui-btn layui-btn-sm card-author-button2">收藏</button>
					<button class="layui-btn layui-btn-sm card-author-button3">回复</button>
				</div>
				<!--每条评论-->
				<div class="list">
					<div class="person-card">
						<!--楼主-->
						<div class="comment-text">
							<%-tie[0].content%>
						</div>
						<div class="comment-massage">
							<span class="massage-jubao">举报</span>
							<span>|</span>
							<span class="massage-f">&nbsp;<span><%=numb++%></span>楼&nbsp;</span>
							<span class="massage-time"><%=tie[0].releasetime.toLocaleString()%></span>
						</div>
					</div>
					<!--评论用户-->
					<div class="person">
						<img src=<%=tie[0].uhead%> />
						<p><%=tie[0].uname%></p>
					</div>
				</div>
				<%for(let c of commen){%>
				<div class="list">
					<!--评论内容-->
					<div class="person-card">
						<div class="comment-text">
							<%-c.recontent%>
						</div>
						<div class="comment-massage">
							<span class="massage-jubao">举报</span>
							<span>|</span>
							<span class="massage-f">&nbsp;<span><%=numb++%></span>楼&nbsp;</span>
							<span class="massage-time"><%=c.replaytime.toLocaleString()%></span>
						</div>
					</div>
					<!--评论用户-->
					<div class="person">
						<img src=<%=c.uhead%>>
						<p><%=c.uname%></p>
					</div>
				</div>
				<%}%>
				<!--页数显示-->
				<div class="layui-btn-container page">
					<button class="layui-btn">首页</button>
					<button class="layui-btn"><i class="layui-icon">&#xe603;</i></button>
					<button class="layui-btn">1</button>
					<button class="layui-btn">2</button>
					<button class="layui-btn">3</button>
					<button class="layui-btn">4</button>
					<button class="layui-btn">5</button>
					<button class="layui-btn"><i class="layui-icon">&#xe602;</i></button>
					<button class="layui-btn">尾页</button>
				</div>
			</div>
			<div class="aside1">
				<div class="aside-massage">
					<span>本吧信息</span>
					<div class="look1">
						<img src=" /img/timg.gif" />
					</div>
					<div class="look2">
						<div></div>
						<p>username</p>
					</div>
					<div class="look3">
						<div></div>
						<p>10</p>
					</div>
				</div>
				<img class="aside1-img" src=" /img/22170839.png" />
				<img class="aside1-img" src=" /img/22170947.png" />
				<img class="aside1-img lastimg" src=" /img/22171023.png" />
			</div>
		</div>

		<!--发表回复及footer-->
		<div class="last">
			<div class="publish">
				<div class="share"></div>
				<div class="publish-head">
					<span class="publish2">发表回复</span>
					<span class="publish5">发贴请遵守</span>
					<a class="publish6">贴吧协议及“七条底线” </a>
				</div>
				<from class="publish-input">
					<div class="publish-text" data-tid = <%=tie[0].tid%>><span>请输入评论内容</span></div>
					<input type="checkbox" name="agree"><span>使用签名档</span>
					<button class="layui-btn" id="publish">发表</button>
				</from>
			</div>

			<div id="footer" class="footer">
				<span>2018 小家电影吧</span>
				<a pv_code="0" href="/tb/eula.html" target="_blank">贴吧协议</a> <span>|</span>
				<a pv_code="0" href="https://tieba.baidu.com/tb/cms/tieba-fe/tieba_promise.html" target="_blank">隐私政策</a> <span>|</span>
				<a pv_code="0" href="http://tieba.baidu.com/tb/system.html" target="_blank">吧主制度</a> <span>|</span>
				<a class="ueg_feedback-link" data-site="feedbackLink" pv_code="0" href="http://tieba.baidu.com/hermes/feedback" target="_blank">意见反馈</a> <span>|</span>
				<a pv_code="0" href="/tb/zt/declare/" target="_blank">网络谣言警示</a>
			</div>
		</div>
	</body>

</html>