
		<link rel="stylesheet" type="text/css" href="/css/fixed.css" />
		<div class="fixed-b">
			<div id="fixed">
				<div class="fixed1">
					<li class="fx1 fx"></li>
					<li class="fx2 fx"></li>
				</div>
				<div class="fixed2">
					<li class="fx3 fx"></li>
					<li class="fx4 fx"></li>
					<li class="fx5 fx"></li>
					<li class="fx6 fx"></li>
					<li class="fx7 fx"></li>
				</div>
			</div>
			<div class="fx1-k"></div>
			<div class="fx4-kt">
			  <li class="fx4-kt1 ft">百度贴吧</li>
              <li class="fx4-kt2 ft"></li>
              <li class="fx4-kt3 ft">新浪微博</li>
              <li class="fx4-kt4 ft">QQ空间</li>              
              <li class="fx4-kt5 ft">复制链接</li>   
			</div>
			<div class="fx4-k">
              <li class="fx4-k1 fk"></li>
              <li class="fx4-k2 fk"></li>
              <li class="fx4-k3 fk"></li>
              <li class="fx4-k4 fk"></li>              
              <li class="fx4-k5 fk"></li>             
			</div>
			<div class="fp"></div>
		</div>

		
		<script type="text/javascript" src="/js/fixed.js"></script>