<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/gr_card.css"/>
		<script src="/js/gr_card.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="grcard">
			<div class="gr_card_head">
				<div class="gr_card_head_button">
				<button type="button" style="background-color: red;">关注</button>
				<button type="button" style="background-color: cornflowerblue;">私信</button>
				</div>				
			</div>
			<div class="gr_card_foot">	
				<p style="margin-left: 110px; margin-top: 3px; font-size: 13px ; color: #007DDB;">无海啸</p><br />
				<p style="margin-left: 110px; margin-top: -16px; font-size: 13px ; color: gray;">吧龄：6年|发帖：660</p>
			</div>
			<div class="gr_card_photo">
				<img src="/img/1.jpg"/>
			</div>
		</div>
	</body>
</html>
