
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
		<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/head.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="/css/head.css" 
		
	</head>
	<body>
		<ul class="layui-nav" lay-filter="" id="layui-nav">
			<div class="layui-nav1" >
				<img src="/img/24442-20180827110935292-1162717395.jpg" width="248px" height="60px" />
				<li class="layui-nav-item layui-this" data-dig = "<%=typeof dig%>" id="index">
					<a href="/index">看吧</a>
				</li>
				<li class="layui-nav-item">
					<a href="">图片</a>
				</li>
				<li class="layui-nav-item " id="digest">
					<a href="/index/digest">精品</a>
				</li>
				<script type="text/javascript">
				$(function(){
					console.log(typeof $("#index").attr("data-dig"))
				if ( $("#index").attr("data-dig")=="undefined") {
				} else{					
					$("#digest").addClass("layui-this");
					$("#index").removeClass("layui-this");
				}	
				})
				</script>
				<li class="layui-nav-item">
					<a href="">视频</a>
				</li>
				<li class="layui-nav-item">
					<a href="">群主</a>
				</li>
				<% if(!uname){%>
				<li class="layui-nav-item layui-col-md-offset2">
					<a href="/login">登录</a>
				</li>
				<li class="layui-nav-item">
					<a href="/register">注册</a>
				</li>
				<%}%>
				<% if(uname){%>
					<li class="layui-nav-item layui-col-md-offset2">
						<a href='/userCenter'><%=uname%></a>
					</li>
					<li class="layui-nav-item">
						<a href='/tuichu'>退出</a>
					</li>
				<%}%>
			</div>
		</ul>
		<div id="main1">
			<div id="search1">
				<form id="layui-form-pane" class="layui-form layui-form-pane">
					<div class="layui-form-item">
						<label class="layui-form-label">小家电影吧</label>
						<div class="layui-input-block">
							<input id="layui-input" type="text" name="search" placeholder="请输入关键词 " autocomplete="off" class="layui-input">
							<button class="layui-btn search-btn" type="button" tylay-filter="formDemo">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div class="layui-row layui-row1" id="display">
				<img src="/img/123.gif" width="980px" height="180px" />
				<div class="imgdiv1" id="imgdiv1">
					<img id="img1" src="/img/timg.gif" width="160px" height="160px" />
					<div class="littlehome">
						<a href="">小家电影吧</a>
					</div>
					<div class="guanzhu">
						<button class="layui-btn">+关注</button>
					</div>
					<div class="guanzhu-num">
						关注:<span></span>
					</div>
					<div class="card">
						帖子:<span></span>
					</div>
					<div class="signin">
						<button class="layui-btn layui-btn-lg">签到</button>
						<div>
							<p>9月20日</p>
							<p>签到10天</p>
						</div>
					</div>
					<div class="home-graph">
						小家电影吧，身边的影迷发烧友聚集地！
					</div>
				</div>
			</div>
		</div>