<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/img.css" />
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
	</head>

	<body>
		<div id="img-b">
			<div id="img-h">
				<span>
				图片精选
			</span>
			</div>
			<div id="img-f">
				<div class="img-f-l">
					<div class="img-f-l-b">
						<button>全部</button>
						<button>未分类图册</button>
					</div>
					<div class="img-f-l-t">
						<span>图片小编:</span><br />
						<img src="../static/layui/images/face/0.gif" />
					</div>
				</div>
				<div class="img-f-r imgf">
					<div style="margin-left: 20px; height: 30px;">未分类图册</div>
					<div class="aimg">
						<li><img src="../static/img/timg7.jpg" /></li>
						<li><img src="../static/img/timg3.jpg" /></li>
						<li><img src="../static/img/timg4.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg.gif" /></li>
						<li><img src="../static/img/1.jpg" /></li>
						<li><img src="../static/img/timg1.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg5.jpg" /></li>
						<li><img src="../static/img/timg4.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg3.jpg" /></li>
						<li><img src="../static/img/timg6.jpg" /></li>
					</div>
				</div>
				<div class="img-f-r1 imgf">
					<div style="margin-left: 20px; height: 30px;">未分类图册</div>
					<div class="aimg">
						<li><img src="../static/img/timg7.jpg" /></li>
						<li><img src="../static/img/timg3.jpg" /></li>
						<li><img src="../static/img/timg4.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg5.jpg" /></li>
						<li><img src="../static/img/timg4.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg.gif" /></li>
						<li><img src="../static/img/1.jpg" /></li>
						<li><img src="../static/img/timg1.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg3.jpg" /></li>
						<li><img src="../static/img/timg6.jpg" /></li>
					</div>
				</div>
				<div class="img-f-r2 imgf">
					<div style="margin-left: 20px; height: 30px;">未分类图册</div>
					<div class="aimg">
						<li><img src="../static/img/timg.gif" />认证号</li>
						<li><img src="../static/img/1.jpg" />电影票房</li>
						<li><img src="../static/img/timg1.jpg" />2013电影海报</li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg7.jpg" />电影人</li>
						<li><img src="../static/img/timg3.jpg" />2012_新片海报</li>
						<li><img src="../static/img/timg4.jpg" />电音吧_logo</li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg3.jpg" /></li>
						<li><img src="../static/img/timg6.jpg" /></li>
					</div>
					<div class="aimg">
						<li><img src="../static/img/timg1.jpg" /></li>
						<li><img src="../static/img/timg5.jpg" /></li>
						<li><img src="../static/img/timg4.jpg" /></li>
					</div>
				</div>
				<div class="fbtn">
					<button class="layui-btn layui-btn-sm layui-btn-primary befor">
                         <i class="layui-icon">&#xe603;</i> 
                    </button>
                     <button class="layui-btn layui-btn-sm layui-btn-primary num">
                         <i class="layui-icon">1</i> 
                    </button>

					<button class="layui-btn layui-btn-sm layui-btn-primary num">
                         <i class="layui-icon">2</i>
                    </button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary num">
                         <i class="layui-icon">3</i>
                    </button>
					<button class="layui-btn layui-btn-sm layui-btn-primary next">
                         <i class="layui-icon">&#xe602;</i>
                    </button>
				</div>
			</div>

		</div>
	</body>
<script type="text/javascript" src="../static/js/img.js"></script>
</html>