<!doctype html>
<!--声明html版本编写指令  H5-->
<html>

	<head>
		<!--声明页面编码  uft-8 国际编码-->
		<meta charset="UTF-8">
		<!--网站三要素 关键字  页面描述  标题-->
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/login.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.mobile.css" />
		<link rel="stylesheet" type="text/css" href="/css/login.css" />
		<title>Document</title>
		<style>

		</style>
	</head>

	<body>
		<div class="wrap">
			<div class="wrap-main">
				<div class="little">
					小家影吧
				</div>
				<div class="login">
					<div class="login-info">
						<form action="/dologin" method="post" id="denglu">
							<input type="text" placeholder="请输入用户名" name="username" />
							<input type="password" placeholder="请输入密码" name="pwd" />
							<div class="layui-form-item">
								<label class="layui-form-label"></label>
								<div class="layui-input-inline" style="margin-right: 57px;">
									<input type="text" name="coder" required lay-verify="required" style="margin-top: 4px; margin-left: 40px;" placeholder="请输入验证码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux coder">
									<img src="/coder" alt="" id="codeimg" style="margin-top: -5px; margin-right:10px ; z-index: 888;">
								</div>
							</div>
							<a href="/register" class="register" style="margin-left:152px ; color: blue;">没有账号？点击注册</a>
							<div class="denglu">
								<input type="button" value=" " name="submit" />
								<span class="denglu1">登录</span>
							</div>
						</form>
					</div>
					<div class="connet">
						<p class="content">
							合作网站账号登录：
							<i class="wechat"></i>
							<i class="tencent"></i>
							<i class="taobao"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<!--
id     唯一  
class  群体


标签的目的  结构  不是实际存在
CSS样式     表现  元素在页面中具体的表现

浏览器会可能给每一个元素会添加一个默认的样式

语义化原则

-->