<% include head.html%>	
 <link rel="stylesheet" href="/css/userCenter.css" />
 <script src="/js/userCenter.js" type="text/javascript" charset="utf-8"></script>
 	<div class="big">
 		
 	
		<div id="center-img">
			<div class="ziliao">
					<a href="/edit" class="alink">编辑资料</a>
			</div>
			<div id="center-heads">
				<div class="head-one">
					<img class="one-img" src=<%=uhead%> alt="用户头像" />
				</div>
				<div class="center-cen">
					<p><%=user[0].uname%></p>
					<span class="icon-one" <%if(user[0].usex=="女"){%>style="background-position-y: -64px"<%}%>></span>
					<span class="uname">用户名：<%=user[0].uname%></span><span class="span1">|</span>
					<span class="bage" >吧龄：<%=age%></span>
					<span class="span1">|</span>
					<span class="tienum">发帖：<%=count%></span>
				</div>
				<div class="center-rig">
					<img src="/img/onejp.png" />
				</div>
				<div class="one-two">
					<img src="/img/twojp.png" />
				</div>
				<div class="one-three"> 
					<img src="/img/threejp.png"/>
				</div>
					<div class="one-four">
						<img src="/img/four1.png"/>
					</div>
			</div>
			<div id="content-cen">
				<h1 class="threadList_title">
					<span class="cut_line">|</span>
					热门动态
				</h1>
				<div class="moban1">
					
					<div class="head-img">
						<img src="/img/head-img.jpg" alt="" style="width: 43px ;height: 43px;"/> 
					</div>
						<div class="moban-cen">
							<p class="bawho">小家电影吧</p>
							<p><a href="#" class="bahwo-one">听说现在流行送号，那我也送一个</a></p>
							<p class="n_txt">听说现在流行送号，那我也送一个</p>
						</div>
							<div class="n_reply">
								<div class="author">
									<a href="#" title="主题作者" class="post_author">泣月梦天</a>
									<span class="userinfo_split"></span>
									<span class="post_num">18</span>
								</div>
								<div class="n_post_time">18:21</div>
							</div>
				</div>
				<%for(let d of hotties){%>
				<div class="moban1">
					
					<div class="head-img">
						<img src="/img/head-img.jpg" alt="" style="width: 43px ;height: 43px;"/> 
					</div>
						<div class="moban-cen">
							<p class="bawho">小家电影吧</p>
							<p><a href="#" class="bahwo-one"><%=d.title%></a></p>
							<p class="n_txt"><%-d.content%></p>
						</div>
							<div class="n_reply">
							<div class="author">	
								<a href="#" title="主题作者" class="post_author"><%=d.uname%></a>
								<span class="userinfo_split"></span>
								<span class="post_num"><%=d.tnum%></span>
							</div>
							<div class="n_post_time"><%=d.lastreplaytime.toLocaleString()%></div>
							</div>
				</div> 
				<%}%>
			</div>
			<div class="slide-div">
					<div class="myLikes">
						<h1 class="ihome_aside_title">我关注的人<span class="concern_num">(<a href="#"><%=gznum%></a>)</span></h1>
						<ul style="margin-left: 8px; margin-top: 10px;" class="ulli">
							
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<%for(let gz of guanzhu){%>
							<li>
								<img src=<%=gz.uid2head%> alt="" width="45px" height="45px"/>
							</li>
							<%}%>
						</ul>
					</div>
					<div class="myFans">
						<h1 class="ihome_aside_title">关注我的人<span class="concern_num">(<a href="#"><%=fansnum%></a>)</span></h1>
						<ul style="margin-left: 8px; margin-top: 10px;" class="ulli">
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<%for(let fs of fans){%>
							<li>
								<img src=<%=fs.uid1head%> alt="" width="45px" height="45px"/>
							</li>
							<%}%>
							<li></li>
							<li></li>
						</ul>
					</div>
					</div>
			</div>
	</div>	
	
		<script type="text/javascript">
			$('title').html('用户个人中心');
		</script>
	</body>
</html>