 <% include head.html%>	
		<div id="center-img">
			<div class="ziliao">
					<a href="#" class="alink">编辑资料</a>
			</div>
			<div id="center-heads">
				<div class="head-one">
					<img class="one-img" src="/img/userimg.jpg" alt="用户头像" />
				</div>
				<div class="center-cen">
					<p>该用户已经超神了</p>
					<span class="icon-one"></span>
					<span class="uname">用户名：该用户已经超神了</span><span class="span1">|</span>
					<span class="bage">吧龄：7.1年</span>
					<span class="span1">|</span>
					<span class="tienum">发帖：5200</span>
				</div>
				<div class="center-rig">
					<img src="/img/onejp.png" />
				</div>
				<div class="one-two">
					<img src="/img/twojp.png" />
				</div>
				<div class="one-three"> 
					<img src="/img/threejp.png"/>
				</div>
					<div class="one-four">
						<img src="/img/four1.png"/>
					</div>
			</div>
			<div id="content-cen">
				<h1 class="threadList_title">
					<span class="cut_line">|</span>
					热门动态
				</h1>
				<div class="moban1">
					<div class="n_post_time">18:21</div>
					<div class="head-img">
						<img src="/img/head-img.jpg" alt="" style="width: 43px ;height: 43px;"/> 
					</div>
						<div class="moban-cen">
							<p class="bawho">小家电影吧</p>
							<p><a href="#" class="bahwo-one">听说现在流行送号，那我也送一个</a></p>
							<p class="n_txt">听说现在流行送号，那我也送一个</p>
							<div class="n_reply">
							<a href="#" title="主题作者" class="post_author">泣月梦天</a>
							<span class="userinfo_split"></span>
							<span class="post_num">18</span>
						</div>
						</div>
				</div> 
			</div>
			<div class="slide-div">
					<div class="myLikes">
						<h1 class="ihome_aside_title">我关注的人<span class="concern_num">(<a href="#">139</a>)</span></h1>
						<ul style="margin-left: 8px; margin-top: 10px;" class="ulli">
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="myFans">
						<h1 class="ihome_aside_title">关注我的人<span class="concern_num">(<a href="#">139</a>)</span></h1>
						<ul style="margin-left: 8px; margin-top: 10px;" class="ulli">
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<li>
								<img src="/img/oneone.jpg" alt="" width="45px" height="45px"/>
							</li>
							<li></li>
							<li></li>
						</ul>
					</div>
					</div>
				</div>
		</div>
		<script type="text/javascript">
			$('title').html('用户个人中心');
		</script>
	</body>
</html>
