<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>视频</title>
		<link rel="stylesheet" type="text/css" href="/css/video.css" />
		<% include head.html%>
		<% include fixed.html%>
		<div class="video-aside">

			<div class="vido">
				<div class="vido-n">
					<div class="vido-n-head">
						<div class="headbar clearfix" id="headbar" data-data="">
							<a href="#" onclick="return false;" class="c_vbtn j_tab" id="new_vbtn">最新视频</a>
							<a href="#" onclick="return false;" class="c_vbtn j_tab hot_link" id="hot_vbtn">最热视频</a>
							<a href="#" class="more hot_link" id="more_video" target="_blank">更多&gt;&gt;</a>
						</div>
					</div>
					<div class="vido-n-vido">
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>

					</div>
				</div>

				<div class="vido-f">
					<div class="vido-f-head">
						<div class="headbar clearfix" id="headbar" data-data="">
							<a href="#" onclick="return false;" class="c_vbtn j_tab" id="new_vbtn">专辑</a>
							<a href="#" class="more hot_link" id="more_video1" target="_blank">更多&gt;&gt;</a>
						</div>
					</div>
					<div class="vido-n-vido">
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>
						<li>
							<img src="/img/timg1.jpg" alt="" />
							<a href="">《五十度灰》预告片</a><br />
							<span>发布:2015年1月31日</span><br />
							<span> 播放:0</span>
							<button class="layui-btn layui-btn-primary layui-btn1">
                          <i class="layui-icon">&#xe623;</i>
                       </button>
						</li>

					</div>
				</div>
			</div>

			<!--侧边栏-->
			<% include aside.html%>

		</div>
		<script type="text/javascript">
			$(".kanba").parent().removeClass("layui-this");
			$(".shiping").parent().addClass("layui-this");
		</script>
		<% include footer.html%>

		</body>

</html>