/*侧边*/

.content1 {
	width: 980px;
	margin: auto;
	position: relative;
	border: 1px solid #bbbdbf;
	background-color: #f5f7fa;
}
.cardlist {
	position: relative;
	width: 760px;
	margin-right: 1px;
	background-color: white;
}
.aside1 {
	width: 219px;
	position: absolute;
	top: 0px;
    left: 761px;
}
.aside-massage {
	padding: 20px 15px;
	width: 188px;
	height: 120px;
	position: relative;
}

.look1 {
	position: absolute;
	top: 50px;
	left: 15px;
	cursor: pointer;
}

.look2 div,.look3 div {
	width: 20px;
	height: 20px;
	background-image: url(../img/tb_common_z_01f0eaf.png);
}
.look2 div {
	position: absolute;
	top: 55px;
	left: 110px;
	cursor: pointer;
	background-position: 107px -26px;
}
.look3 div {
	position: absolute;
	top: 80px;
	left: 112px;
	cursor: pointer;
	background-position: 127px -136px;
}
.look2 p {
	width: 65px;
	height: 16px;
	position: absolute;
	top: 60px;
	left: 136px;
	cursor: pointer;
}
.look3 p {
	color: orange;
	width: 65px;
	height: 16px;
	position: absolute;
	top: 86px;
	left: 136px;
	cursor: pointer;
}
.look1 img {
	width: 84px;
	height: 84px;
}
.aside-massage,.aside1-img {
	border-bottom: 1px solid gray;
}
.page {
	width: 760px;
	text-align: center;
	padding: 20px 0px;
	border-right: 1px solid #bbbdbf;
}

/*评论显示区*/

.list {
	width: 760px;
	position: relative;
	border-bottom: 1px dashed #bbbdbf;
	border-right: 1px solid #bbbdbf;
	z-index: 666;
}

.person {
	width: 130px;
	background-color: #fafbfc;
}
/*
.listtext {
	width: 460px;
	padding: 20px 0px 20px 100px;
}

.cardname {
	color: #2d64b3;
	cursor: pointer;
}

.cardname:hover {
	color: #2d64b3;
	text-decoration: underline;
}

.listtext p {
	margin-top: 10px;
}

.carduser {
	position: absolute;
	top: 20px;
	left: 575px;
}

.carduser-img {
	width: 20px;
	height: 20px;
	background-size: 100px 96px;
	background-image: url(../img/thread_list_z_eca48fe.png);
	background-position: -35px 23px;
}

.carduser-name {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 25px;
}

.cardback {
	position: absolute;
	top: 50px;
	left: 575px;
}

.cardback-img {
	width: 20px;
	height: 20px;
	background-size: 100px 96px;
	background-image: url(../img/thread_list_z_eca48fe.png);
	background-position: 0px 23px;
}

.cardback-name {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 25px;
}

.cardtime {
	position: absolute;
	top: 50px;
	left: 700px;
}

.cardback,
.cardtime,
.carduser {
	color: gray;
	cursor: pointer;
}
*/

/*发表评论*/

.last {
	width: 980px;
	padding-top: 20px;
	margin: 0px auto 50px;
	background-image: url(../img/f_editor_94fd854.jpg);
}

.publish {
	height: 523px;
	margin-left: 20px;
}
.publish2 {
	margin-left: 40px;
}
.publish5 {
	margin-left: 430px;
}

.publish6 {
	text-decoration: underline;
	cursor: pointer;
}

.share {
	cursor: pointer;
	margin-left: 745px;
	width: 202px;
	height: 18px;
	background-image: url(../img/3102442.png);
}

.publish-text {
	width: 700px;
	margin: 20px 0px;
	background-color: white;
}
.w-e-toolbar .w-e-menu i {
	color: #009688!important;
}

.publish-input {
	left: 40px;
	position: relative;
}

.publish-input input[type="checkbox"] {
	position: absolute;
	top: 1px;
}

.publish-input span {
	display: inline-block;
	margin: 10px 0px 0px 20px;
	color: gray;
	font-size: 14px;
}

.publish-input button {
	position: absolute;
	top: 30px;
	left: 0px;
}