/*帖子列表模板*/

.content1 {
	width: 980px;
	margin: auto;
	position: relative;
	background-color: white;
	border: 1px solid #bbbdbf;
}
.aside-massage {
	padding: 20px 15px;
	width: 188px;
	position: relative;
}
.look {
	position: absolute;
	left: 140px;
	color: #2d64b3;
	cursor: pointer;
}
.look1 {
	position: absolute;
	top: 35px;
	left: 15px;
	cursor: pointer;
}
.look2 {
	position: absolute;
	top: 35px;
	left: 75px;
	cursor: pointer;
}
.look3 {
	position: absolute;
	top: 35px;
	left: 135px;
	cursor: pointer;
}
.look1 div,.look2 div,.look3 div {
	text-align: center;
}
.aside-massage img {
	margin: 10px 0px 0px 5px;
	width: 50px;
	height: 50px;
}
.look5 {
	margin: 5px 0px 5px 7px;
}
.look5 span {
	color: #2d64b3;
	cursor: pointer;
}
.look4 {
	margin: 85px 0px 0px 8px;
}
.aside1 {
	width: 220px;
	position: absolute;
	top: 0px;
    left: 761px;
}
.aside-massage,.aside1-img {
	border-bottom: 1px solid #bbbdbf;
}
.cardlist {
	position: relative;
	width: 760px;
	margin-right: 1px;
	background-color: white;
}

.list {
	width: 760px;
	position: relative;
	border-bottom: 1px dashed #bbbdbf;
	border-right: 1px solid #bbbdbf;
	z-index: 666;
}

.list:hover {
	background-color: #F2F4F7;
}

.page {
	width: 760px;
	text-align: center;
	padding: 20px 0px;
	border-right: 1px solid #bbbdbf;
}

.layui-badge {
	width: 50px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #6f8e8b!important;
}

.listtext {
	width: 460px;
	padding: 20px 0px 20px 100px;
}

.cardname {
	max-width: 410px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	color: #2d64b3;
	cursor: pointer;
}

.cardname:hover {
	color: #2d64b3;
	text-decoration: underline;
}

.cardtext {
	margin-top: 10px;
}

.carduser {
	position: absolute;
	top: 20px;
	left: 575px;
}

.carduser-img {
	width: 20px;
	height: 20px;
	background-size: 100px 96px;
	background-image: url(../img/thread_list_z_eca48fe.png);
	background-position: -35px 23px;
}

.carduser-name {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 25px;
}

.cardback {
	position: absolute;
	top: 50px;
	left: 575px;
}
.carddel {
	position: absolute;
	top: 21px;
	left: 640px;
}
.carddig {
	position: absolute;
	top: 21px;
	left: 685px;
}
.carddig a,.carddel a {
	font-size: 12px;
}
.cardback-img {
	width: 20px;
	height: 20px;
	background-size: 100px 96px;
	background-image: url(../img/thread_list_z_eca48fe.png);
	background-position: 0px 23px;
}

.cardback-name {
	width: 100px;
	position: absolute;
	top: 0px;
	left: 25px;
}

.cardtime {
	position: absolute;
	top: 50px;
	left: 700px;
}

.cardback,
.cardtime,
.carduser {
	color: gray;
	cursor: pointer;
}


/*发表*/

.last {
	width: 980px;
	padding-top: 20px;
	margin: 0px auto 50px;
	background-image: url(../img/f_editor_94fd854.jpg);
}

.publish {
	position: relative;
	height: 550px;
	left: 20px;
}

.publish1,
.publish3 {
	position: absolute;
	display: inline-block;
	top: 2px;
	width: 14px;
	height: 14px;
	background-image: url(../img/poster_icons_4ca8924.png);
}
.publish2 {
	position: absolute;
	left: 25px;
}

.publish3 {
	position: absolute;
	background-position: 0px 30px;
	left: 105px;
}

.publish4 {
	position: absolute;
	left: 125px;
	cursor: pointer;
}

.publish5 {
	position: absolute;
	left: 360px;
}
.publish6 {
	position: absolute;
	left: 560px;
}
.publish7 {
	position: absolute;
	left: 460px;
}

.publish6,
.publish7 {
	text-decoration: underline;
	cursor: pointer;
}

.publish-name {
	display: inline-block;
	border: 1px solid #adadad;
	margin-top: 15px;
	width: 670px;
	height: 30px;
}

.publish-name1 {
	display: inline-block;
	width: 46px;
	height: 20px;
	background-image: url(../img/icon_topic_n_fd30738.png);
	position: absolute;
	top: -2px;
	left: 680px;
	cursor: pointer;
}

.publish-text {
	width: 740px;
	margin-top: 20px;
	background-color: white;
}

.w-e-toolbar .w-e-menu i {
	color: #009688!important;
}

.publish-input {
	position: relative;
	top: 20px;
}

.publish-input input[type="checkbox"] {
	position: absolute;
	top: 1px;
}

.publish-input span {
	display: inline-block;
	margin: 10px 0px 0px 20px;
	color: gray;
	font-size: 14px;
}

.publish-input button {
	position: absolute;
	top: 30px;
	left: 0px;
}