* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

#img-b {
	width: 980px;
	margin: auto;
}

#img-h {
	background-color: white;
	width: 978px;
	height: 40px;
	border: 1px solid gainsboro;
	line-height: 40px;
}

#img-f {
	background-color: white;
	margin-bottom: 50px;
	width: 100%;
	position: relative;
	top: 5px;
}

.img-f-l {
	background: url('//tb2.bdstatic.com/tb/img/frs-footer/f_editor_94fd854.jpg') repeat;
	position: relative;
	width: 149px;
	height: 1100px;
}

.img-f-l-b {
	position: relative;
	top: 10px;
	width: 149px;
	height: 80px;
	border-bottom: 1px solid gainsboro;
}

.img-f-l button {
	background-color: ghostwhite;
	border: none;
	width: 149px;
	height: 30px;
}

.img-f-l-t {
	font-size: 13px;
	line-height: 50px;
}

.img-f-l-t img {
	position: relative;
	top: -20px;
	left: 20px;
	width: 20px;
	height: 20px;
}

.img-f-r
,.img-f-r1
,.img-f-r2{
	position: absolute;
	top: 0px;
	left: 151px;
	width: 830px;
	height: 1100px;
     display: none;
}
/*.img-f-r1{
	position: absolute;
	top: 0px;
	left: 151px;
	width: 830px;
	height: 1100px;
    display: none;
}
*/
.aimg li {
	font-size: 12px;
	display: inline-block;
	background: url('//tb2.bdstatic.com/tb/img/frs-footer/f_editor_94fd854.jpg') repeat;
	width: 250px;
	height: 240px;
	margin-left: 21px;
	margin-top: 10px;
}

.aimg img {
	width: 230px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
}
.fbtn {
	position: absolute;
	right: 312px;
	bottom: 15px;

}


#footer {
	padding-bottom: 50px!important;
}



