			* {
				margin: 0;
				padding: 0;
			}
			
			body {
				background: url("/img/UNUF.jpg");
				background-size: 100%;
			}
			
			@font-face {
				font-family: myFirstFont;
				src: url("/fontfamily/呆萌娃娃体.ttf");
			}
			
			.little {
				position: absolute;
				top: 10px;
				left: 240px;
				font-family: myFirstFont;
				font-size: 65px;
				color: #009688;
			}
			
			.wrap {
				width: 100%;
				height: 520px;
				margin: auto;
				/*背景图片*/
			}
			
			.wrap-main {
				/*position:absolute;觉对定位*/
				width: 80%;
				height: 520px;
				margin: 0 auto;
				/*上下 左右*/
				overflow: hidden;
				/*超出部分隐藏*/
			}
			
			.login {
				/* float:right;右浮动 */
				/* position:absolute;绝对定位
			right:0; */
				overflow: hidden;
				width: 600px;
				height: 500px;
				background: #fff;
				margin: auto;
				margin-top: 100px;
				background-color: rgba(80, 90, 80, 0.6);
			}
			
			.login-info {
				height: 220px;
				/* background:red; */
				border-bottom: 1px dotted #999;
			}
			
			input {
				display: block;
				/*转换成块级元素*/
				width: 300px;
				height: 38px;
				margin: 30px auto;
				border-radius: 5px;
				/*CSS3新增圆角属性*/
			}
			
			input[name="username"] {
				background: url("/img/zhanghao.jpg") no-repeat;
				text-indent: 50px;
				border: 1px solid #ccc;
				background-position-y: -2px;
			}
			
			input[name="pwd"] {
				background: url("/img/mima.jpg") no-repeat;
				text-indent: 50px;
				border: 1px solid #ccc;
				background-position-y: -2px;
			}
			
			input[name="submit"] {
				background-color: #009688;
				background-size: 300px 38px;
				border: 0;
				cursor: pointer;
			}
			
			.register {
				color: green!important;
				font-weight: bold;
			}
			
			.denglu {
				position: relative;
			}
			
			.denglu1 {
				position: absolute;
				cursor: pointer;
				top: 10px;
				left: 287px;
			}
			
			.content {
				width: 260px;
				margin: 115px auto;
				font-size: 14px;
			}
			
			i {
				display: inline-block;
				/*转换位行内块元素*/
				width: 32px;
				height: 32px;
			}
			
			i.wechat {
				background: url("/img/weixin.png");
			}
			
			i.tencent {
				background: url("/img/qqlogin.png");
			}
			
			i.taobao {
				background: url("/img/taobao.png");
			}